div {
    margin: 0 auto;
}

.row {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    margin-bottom: 30px;
}

.row span {
    display: block;
    width: 200px;
    color: blue;
}

.row [type="range"] {
    margin-right: 25px;
}

#example {
    width: 300px;
    height: 170px;
    background: red;
    margin-top: 35px;
}

#css {
    display: block;
    margin: 20px 0 0 20px;
    font-weight: bold;
}